#content-grid{
  display:grid;
  grid-template-columns: 1fr 300px;
  text-align : left;
}

#leftsection, #rightsection{
    display:grid;
    grid-template-rows: 100px 1fr;
}

@media(max-width:1000px){
  #content-grid{
    display:grid;
    grid-template-columns: 7fr 3fr;
  }
  #leftsection, #rightsection{
      display:grid;
      grid-template-rows: 1fr 9fr;
  }
}

#content-grid > div {
  height:700px;
  border:solid 0.1px #BFBFBF;
}

#content-grid > div > a {
  display:block;
  color : black;
  text-decoration: none;
}


.contentheader{
  padding-left: 10px;
}


label{
  padding-left: 20px;
}

#stype, #ssubject, #schedule, #venue{
  margin-top: 20px;
  margin-bottom: 20px;
}

#tools{
  float:right;
  margin-right:20px;
}
#tools > input{
}
